/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
aside {
  background-color: #424242;
  color: white;
  border-radius: 3px;
  padding: 14px;
  margin-bottom: 9px;
}

main {
  margin-bottom: 10px;
}

p {
  text-align: left;
  margin: 15px;
  color: #828282;
}

.container2 {
  margin: 2em auto;
	width: 263px;
  height: 304px;
  /* padding: 1px 20px 1px 20px; */
	text-align: center;
  background-color: white;
  font-size: 0.9em;
}

.button1 {
  background-color: #00be1c;
  border: none;
  color: #fafafa;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 1em;
  border-radius: 3px;
  margin: 15px 15px 5px 0px; 
  width: 107px;
}

.button2 {
  background-color: #fafafa;
  border-style: solid;
  border-width: 1px;
  color: #777777;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  border-radius: 3px;
  width: 122px;
  font-weight: bold;
}

label {
  padding-left: 5px;
}

.textbox {
  font-size: 16px;
  border: none;
  /* display: inline; */
  width: 30px;
  font-weight: bold;
  
}

.textbox-container {
  display: flex;
  margin: 15px 0px 5px 15px;
  width: 107px;
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
}

.meter {
  height: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.border {
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;

}

.days {
  color: #f15e33;
}

.full {
  background-color: #f15e33;
  width: 200px;
}

.empty {
  background-color: #fafafa;
  width: 61px;
}

em {
  color: #57b9e1;
}

#why {
  margin-top: 0px;
}

nav {
  justify-content: space-between;
  margin-bottom: 25px;
}

.submit {
  justify-content: space-between;
}

.dolla {
  color: #777777;
  font-size: 1.2em;
  font-weight: bold;
}

polygon {
  fill:#424242;
}